<div class="recipe-card">
  <h1>{{recipe.nev}}</h1>
  {{#if recipe.kep}}
    <img src="/images/{{recipe.kep}}" alt="Recept kép">
  {{else}}
    <div class="no-image">Nincs kép</div>
  {{/if}}
  <div class="recipe-content">
    <p><strong>Leírás:</strong> {{recipe.leiras}}</p>
    <p><strong>Hozzávalók:</strong> {{recipe.hozzavalok}}</p>
    <p><strong>Készítési útmutató:</strong> {{recipe.keszitesi_utmutato}}</p>
    {{#if recipe.elokeszitesi_ido}}
      <p><strong>Előkészítési idő:</strong> {{recipe.elokeszitesi_ido}} perc</p>
    {{/if}}
    {{#if recipe.sutesi_ido}}
      <p><strong>Sütési idő:</strong> {{recipe.sutesi_ido}} perc</p>
    {{/if}}
    {{#if recipe.adagok_szama}}
      <p><strong>Adagok száma:</strong> {{recipe.adagok_szama}}</p>
    {{/if}}
  </div>
  <div class="recipe-actions">
    <a href="/recipes" class="back-button">Vissza a receptekhez</a>
    {{#if isAdmin}}
      <a href="/recipes/edit/{{recipe.id}}" class="btn btn-edit">Szerkesztés</a>
      <a href="/recipes/delete/{{recipe.id}}" class="btn btn-delete">Törlés</a>
    {{/if}}
  </div>
</div>